<html>
    <head>
        <title>Login - My App</title>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
        <script type='text/javascript'>
            window.onload = function() {
                window.localStorage['jwt_token'] = "{{ access_token }}";

                // similar behavior as clicking on a link
                window.location.href = "/";
            }
        </script>
    </head>
    <body>
        <div>
            Logged in successfully. Redirecting to the main page...
        </div>
    </body>
</html>
